<div class="content">
  {{#if model.url}}
    <a href={{model.url}}>
      {{ui-block/background-image url=model.url class="image"}}
    </a>
  {{else}}
    <div class="error">{{model.error}}</div>
  {{/if}}
</div>
<div class="footer">
  <div class="button" {{action 'back'}}>Add another image</div>
</div>